{%- extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

    {#LEADER BOARD START#}
    <div>
        {% if session['is_admin'] %}
            <div>
                <h1 class="center_horizontal">Points Leader Board</h1>
                <table style="width: 90%">
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Points</th>
                        <th>Scanned Weeks</th>
                    </tr>
                    {% for i in users %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.username }}</td>
                            <td>{{ i.email }}</td>
                            {% if i.points %}
                                <td>{{ i.points }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            <td>{{ i.scanned_qr_codes }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div>
                <h1 class="center_horizontal">Points Leader Board</h1>
                <table style="width: 30%">
                    <tr>
                        <th>Username</th>
                        <th>Points</th>
                        <th>Scanned Weeks</th>
                    </tr>
                    {% for i in users %}
                        <tr>
                            <td>{{ i.username }}</td>
                            {% if i.points %}
                                <td>{{ i.points }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            <td>{{ i.scanned_qr_codes }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
    {#LEADER BOARD END#}

{%- endblock %}
