{%- extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

    <h1>Points Leader Board</h1>

    <div class="table-responsive">
        <table class="table">


            {% if session["is_admin"] %}
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Points</th>
                    <th scope="col">Scanned Weeks</th>
                </tr>
                </thead>

                {% for i in users %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.username }}</td>
                        <td>{{ i.email }}</td>

                        {% if i.points %}
                            <td>{{ i.points }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}

                        <td>{{ i.scanned_qr_codes }}</td>
                    </tr>
                {% endfor %}

            {% else %}
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Points</th>
                    <th scope="col">Scanned Weeks</th>
                </tr>
                </thead>

                {% for i in users %}
                    <tr>
                        <td>{{ i.username }}</td>

                        {% if i.points %}
                            <td>{{ i.points }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}

                        <td>{{ i.scanned_qr_codes }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{%- endblock %}
