{%- extends "base.html" %}

{% block title %}QR Codes{% endblock %}

{% block content %}

    {#QR CODES START#}
    <div>
        <h2>QR Codes</h2>
        {% if qr_codes %}
            <table>
                <tr>
                    <th>Location Name</th>
                    <th>ID</th>
                    <th>QR Codes</th>
                    <th>Scanner Links</th>
                    <th>Points</th>
                </tr>
                {% for i in qr_codes %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.uuid }}</td>
                        <td><a href="{{ url_for('qr._generator') }}{{ i.uuid }}" target="_blank">Link</a></td>
                        <td><a href="{{ url_for('qr._scanner', code=i.uuid) }}" target="_blank">Scanner Link</a></td>
                        <td>{{ i.points }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No QR Codes Available</p>
        {% endif %}
    </div>
    {#QR CODES END#}

{%- endblock %}
