{%- extends "base.html" %}

{% block title %}QR Scanner{% endblock %}

{% block content %}

    {#QR CODE VALIDATOR#}
    <div>
        {% if code %}
            <div style="text-align: center">
                <p>Congratulations! You found {{ code }}!</p>
            </div>
        {% else %}
            <div style="text-align: center">
                <p>You Have Already Scanned This QR Code!</p>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/dQw4w9WgXcQ"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        {% endif %}
    </div>

{%- endblock %}
