<!DOCTYPE html>
<html lang="en">
{% from "macros/nav_macros.html" import nav_link with context %}
{% from "macros/nav_macros.html" import dropdown_nav with context %}
{% from "macros/nav_macros.html" import nav_logo with context %}
{% from "macros/nav_macros.html" import dropdown_item with context %}

<head>
    {% block head %}
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/site_styles.css"/>
        <title>{% block title %}{% endblock %}</title>

        {# This makes the website responsive; all elemenets need to be responsive for this to work. #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% block navbar %}

        {# NAVIGATION LOGO #}
        {{ nav_logo("index._index", "../static/images/favicon.png", "IT@JCU") }}

        {# COLLAPSE NAVIGATION BUTTON #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {# NAVIGATION LINKS #}
                {{ nav_link("index._index", "Home") }}

                {% if 'username' in session %}
                    {{ nav_link("account._account", "Account") }}
                {% endif %}

                {# ADMIN NAV ITEMS #}
                {% if session['is_admin'] %}

                    {# QR DROPDOWN BOX #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QR</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ dropdown_item("qr._codes", "QR Codes") }}
                            <div class="dropdown-divider"></div>
                            {#{{ dropdown_item("qr._generator", "QR Generator") }}#}
                            {{ dropdown_item("qr._scanner", "QR Scanner") }}
                            {{ dropdown_item("qr._creator", "QR Creator") }}
                        </div>
                    </li>

                    {# ADMIN DROPDOWN BOX #}
                    {#                    <li class="nav-item dropdown">#}
                    {#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                    {#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>#}
                    {##}
                    {#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                    {##}
                    {#                        {{ dropdown_item("#", "Admin List") }}#}
                    {#                        </div>#}
                    {#                    </li>#}
                {% endif %}
            </ul>

            {# FIXME after accounts are connected fix points #}
            {# USER POINTS #}
            <div class="bg-dark p-2">
                {% if session['points'] %}
                    <span class="text-info">{{ session['username'] }} - {{ session['points'] }} points</span>
                {% else %}
                    {% if 'username' in session %}
                        <span class="text-info">{{ session['username'] }} - 0 points</span>
                    {% else %}
                        <span class="text-info"></span>
                    {% endif %}
                {% endif %}
            </div>

            {% if 'username' in session %}
                {# LOGOUT BUTTON #}
                <a class="p-1" href="{{ url_for("auth._logout") }}">
                    <button class="btn btn-outline-danger my-2 my-sm-0 p-2" type="submit">Logout</button>
                </a>
            {% else %}
                {# LOGIN BUTTON #}
                <a class="p-1" href="{{ url_for("auth._login") }}">
                    <button class="btn btn-outline-primary my-2 my-sm-0 p-2" type="submit">Login</button>
                </a>

                {# REGISTER BUTTON #}
                <a class="p-1" href="{{ url_for("auth._register") }}">
                    <button class="btn btn-outline-success my-2 my-sm-0 p-2" type="submit">Register</button>
                </a>
            {% endif %}

        </div>
    {% endblock %}
</nav>

<div id="test" class="container-fluid text-center">
    {% block content %}{% endblock %}
</div>

<div>
    {% block footer %}
        {#        footer html here#}
    {% endblock %}
</div>

</body>

</html>