{%- extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    {#INDEX PAGE CONTENT#}
    <div>
        <h2>Welcome To Tim Tam Time QR</h2>
        <br>
        <img src="../static/Tim_Tams.jpg" alt="Tim Tams" style="max-width: 50%" class="center_vertical_horizontal">
    </div>

{%- endblock %}
{#INDEX PAGE CONTENT#}
<div>
    <h2>Welcome To Tim Tam Time QR</h2>
    <br>
    <img src="../static/TimTamTimeSchedule.jpg" alt="Tim Tams" style="max-width: 100%; height: auto" class="center_vertical_horizontal">
    <div style="text-align: center">
        <button type="button" onclick="window.location.href = '/login'">Login</button>
    </div>
</div>
</body>
</html>