<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="{{ url_for('static', filename='site_styles.css') }}" rel="stylesheet">
</head>
<body>

<form method="post" class="center_vertical_horizontal">
    <h3>Tim Tam Time QR-Code Login</h3>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    Username or Email Address<br>
    <label>
        <input type="text" name="user-username">
    </label><br>

    Password<br>
    <label>
        <input type="password" name="user-pass">
    </label><br>

    <input type="submit" value="Login"><br>

    Not Registered? <a href="{{ url_for('register_page.register') }}">Create an account!</a>
</form>

</body>
</html>