<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="site_styles.css">
</head>
<body>

        <form method="post">
            Username or Email Address<br>
            <label>
                <input type="text" name="user-username">
            </label><br>

    Password<br>
    <label>
        <input type="password" name="user-pass">
    </label><br>

    <input type="submit" value="Login"><br>

    Not Registered? <a href="{{ url_for('register_page.register_page') }}">Create an account!</a>
</form>

</body>
</html>