<!doctype html>
<html lang="en">
<head>
    <title>Locations</title>
    <link href="{{ url_for('static', filename='site_styles.css') }}" rel="stylesheet">
</head>
<body class="center_horizontal, extended_width">

<h2>QR Code Locations</h2>

{% if qr_codes %}
    <table>
        <tr>
            <th>Location Name</th>
            <th>Links</th>
            <th>Points</th>
        </tr>

        {% for i in qr_codes %}
            <tr>
                <td>{{ i.name }}</td>
                <td>
                    <a href="{{ url_for('qr_code_scan_page.qr_scan', qr_code=i.uuid) }}" target="_blank">Scan QR Code Link</a>
                <br>
                    <a href="{{ qr_url }}{{ scan_url }}{{ i.uuid }}" target="_blank">QR Code Link</a>
                </td>

                <td>{{ i.points }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No Locations Available</p>
{% endif %}

</body>
</html>