{%- extends "base.html" %}

{% block title %}QR Generator{% endblock %}

{% block content %}

{#GENERATE QR CODE#}
{% if data['image'] == 'default' %}
    <img src="{{ qrcode(data['url'], box_size=data['size'], error_correction='H', icon_img='favicon.jpg', factor=3, back_color=data['colour'], fill_color='black') }}" alt="QR-Code">
{% elif data['image'] == 'none' %}
    <img src="{{ qrcode(data['url'], box_size=data['size'], error_correction='H', factor=3, back_color=data['colour'], fill_color='black') }}" alt="QR-Code">
{% else %}
    <img src="{{ qrcode(data['url'], box_size=data['size'], error_correction='H', icon_img=data['image'], factor=3, back_color=data['colour'], fill_color='black') }}" alt="QR-Code">
{% endif %}

{%- endblock %}