<!doctype html>
<html lang="en">
<head>
    <title>Register</title>
    <link href="{{ url_for('static', filename='site_styles.css') }}" rel="stylesheet">
</head>
<body>

<form method="post" class="center_vertical_horizontal">
        <h3>JCU Open Day QR Code Hunt Register</h3>
    {% if error_msg_start or duplicate_value or error_msg_end %}
    <p class="error"><b>Error:</b> {{ error_msg_start }} <b><span style="color: red; ">{{ duplicate_value }}</span> </b> {{ error_msg_end }}</p>
    {% endif %}
    Name*<br>
    <label>
        <input type="text" name="user-name" required>
    </label><br>

    Username*<br>
    <label>
        <input type="text" name="user-username" required>
    </label><br>

    Email Address*<br>
    <label>
        <input type="text" name="user-email" required>
    </label><br>

    Password*<br>
    <label>
        <input type="password" name="user-pass" required>
    </label><br>

    <input type="submit" value="Sign Up"><br>

    Already Registered? <a href="{{ url_for('login_page.login_page') }}">Login!</a>
</form>

</body>
</html>