<!doctype html>
<html lang="en">
<head>
    <title>User Points</title>
    <link href="{{ url_for('static', filename='site_styles.css') }}" rel="stylesheet">
</head>
<body class="center_vertical_horizontal">

<h2>User Points</h2>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Points</th>
    </tr>

    {% for i in users %}
        <tr>
            <td>{{ i.username }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.points }}</td>
        </tr>
    {% endfor %}

</table>

</body>
</html>