{%- extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <br>
    <h1 class="h3 mb-3 font-weight-normal">Tim Tam Time QR-Code Login</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="alert-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form class="form-signin" method="POST">
        {{ form.csrf_token }}
        <br>
        {{ form.username(class_="form-control", placeholder="Username") }}
        {{ form.password(class_="form-control", placeholder="Password") }}
        <div class="checkbox">
            {{ form.remember_me.label }}
            {{ form.remember_me(class_="form-check-label") }}
        </div>
        {{ form.login(class_="btn btn-lg btn-success btn-block") }}
        <p>Not Registered? <a href="{{ url_for('auth._register') }}">Create an account!</a></p>
    </form>

{%- endblock %}