{%- extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{#    {% for item in form.errors.items() %}#}
{#        <h1 class="alert-info">{{ item }}</h1>#}
{#    {% endfor %}#}

    {#LOGIN FORM START#}
    <form method="POST" class="text-center">

        <h3>Tim Tam Time QR-Code Login</h3>

        <div class="text-center center_vertical">
            {{ form.csrf_token }}
            <p>
                {{ form.username.label }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password }}
            </p>
            <p>
                {{ form.remember_me }}
                {{ form.remember_me.label }}
            </p>
            {{ form.login }}
            <p>Not Registered? <a href="{{ url_for('auth._register') }}">Create an account!</a></p>
        </div>
    </form>
    {#LOGIN FORM END#}

{%- endblock %}